body {
  margin: 0;
  background-color: black;
  text-align: center;
  color:white;
  padding-top: 30vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


a{
  color: white;
}

.input{
  height:50px;
  width:100px;
}

